.energy-generation {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .energy-generation .div {
    background-color: #ffffff;
    width: 1920px;
    height: 1080px;
    position: relative;
  }
  
  .energy-generation .nav-bar {
    position: absolute;
    width: 1920px;
    height: 100px;
    top: 0;
    left: 0;
    background-color: #7f7f7f;
  }
  
  .energy-generation .logo {
    position: absolute;
    width: 194px;
    height: 60px;
    top: 20px;
    left: 62px;
  }
  
  .energy-generation .overlap-group {
    position: relative;
    width: 192px;
    height: 60px;
    background-color: #d9d9d9;
  }
  
  .energy-generation .text-wrapper {
    position: absolute;
    width: 127px;
    top: 0;
    left: 32px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .energy-generation .male-user {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 15px;
    left: 1800px;
  }
  
  .energy-generation .vector {
    position: absolute;
    width: 49px;
    height: 60px;
    top: 20px;
    left: 1679px;
  }
  
  .energy-generation .status {
    position: absolute;
    width: 348px;
    height: 70px;
    top: 15px;
    left: 1261px;
  }
  
  .energy-generation .overlap {
    position: relative;
    width: 346px;
    height: 70px;
    background-color: #d9d9d9;
  }
  
  .energy-generation .text-wrapper-2 {
    position: absolute;
    width: 268px;
    top: 12px;
    left: 18px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .energy-generation .estimated-savings {
    position: absolute;
    width: 323px;
    height: 320px;
    top: 118px;
    left: 1578px;
  }
  
  .energy-generation .overlap-2 {
    position: relative;
    width: 317px;
    height: 320px;
    background-color: #d9d9d9;
  }
  
  .energy-generation .text-wrapper-3 {
    position: absolute;
    width: 306px;
    top: 14px;
    left: 11px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .energy-generation .text-wrapper-4 {
    position: absolute;
    width: 240px;
    top: 62px;
    left: 34px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .energy-generation .p {
    position: absolute;
    width: 259px;
    top: 119px;
    left: 24px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .energy-generation .overlap-wrapper {
    position: absolute;
    width: 1205px;
    height: 934px;
    top: 118px;
    left: 364px;
    opacity: 0.56;
  }
  
  .energy-generation .overlap-3 {
    position: relative;
    width: 1201px;
    height: 934px;
    background-color: #d9d9d9;
  }
  
  .energy-generation .text-wrapper-5 {
    position: absolute;
    width: 593px;
    top: 41px;
    left: 12px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .energy-generation .img {
    position: absolute;
    width: 38px;
    height: 37px;
    top: 871px;
    left: 1144px;
  }
  
  .energy-generation .text-wrapper-6 {
    position: absolute;
    width: 99px;
    top: 36px;
    left: 1045px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .energy-generation .recommendation-AI {
    position: absolute;
    width: 321px;
    height: 314px;
    top: 458px;
    left: 1578px;
  }
  
  .energy-generation .overlap-4 {
    position: relative;
    width: 317px;
    height: 314px;
    background-color: #d9d9d9;
  }
  
  .energy-generation .text-wrapper-7 {
    width: 284px;
    top: 24px;
    position: absolute;
    left: 25px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .energy-generation .reducing-your-energy {
    position: absolute;
    width: 276px;
    top: 121px;
    left: 29px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 21px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .energy-generation .overlap-group-wrapper {
    position: absolute;
    width: 321px;
    height: 262px;
    top: 790px;
    left: 1578px;
  }
  
  .energy-generation .overlap-5 {
    position: relative;
    width: 317px;
    height: 262px;
    background-color: #d9d9d9;
  }
  
  .energy-generation .text-wrapper-8 {
    width: 168px;
    top: 0;
    position: absolute;
    left: 25px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .energy-generation .reducing-your-energy-2 {
    position: absolute;
    width: 284px;
    top: 81px;
    left: 25px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 21px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .energy-generation .hamburger {
    position: absolute;
    width: 338px;
    height: 980px;
    top: 100px;
    left: 0;
  }
  
  .energy-generation .overlap-6 {
    position: relative;
    width: 328px;
    height: 980px;
    background-color: #bcbcbc;
  }
  
  .energy-generation .text-wrapper-9 {
    position: absolute;
    width: 170px;
    top: 26px;
    left: 15px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #424242;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .energy-generation .text-wrapper-10 {
    position: absolute;
    width: 122px;
    top: 894px;
    left: 89px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #424242;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .energy-generation .text-wrapper-11 {
    position: absolute;
    width: 231px;
    top: 90px;
    left: 13px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #424242;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .energy-generation .text-wrapper-12 {
    position: absolute;
    width: 231px;
    top: 154px;
    left: 15px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #424242;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .energy-generation .text-wrapper-13 {
    position: absolute;
    width: 293px;
    top: 218px;
    left: 17px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #424242;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  